langchain_community
langchain-google-genai
langchain_openai
streamlit==1.31.1
langchain_core
python-dotenv
langserve
fastapi
uvicorn
ipykernel
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
arxiv
wikipedia
langchainhub
langchain-groq
groq
pinecone-client
pinecone-text
pinecone-notebooks
langchain_huggingface
rank_bm25